body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: url("Background.png") no-repeat;
  background-size: cover;
}
.new-do {
  color: #41413f;
  margin-left: 300px;
  display: inline-flex;
  height: 60px;
}

.button {
  width: 200px;
  font-size: 1.5rem;
  margin-left: 50px;
  background: #cccccc;
  opacity: 0.8;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 30px;
}

.input {
  width: 400px;
  text-align: center;
  font-size: 1.5rem;
  margin-left: 50px;
  background: #faf5f5;
  opacity: 0.8;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 30px;
}

.header {
  padding-left: 200px;
  font-size: 2.5rem;
  display: flex;
}

.status {
  margin-left: 200px;
  padding-top: 50px;
  display: flex;
}
.name-of-status {
  display: flex;
}

.text-of-status {
  color: #070707;
  padding-top: 10px;
  font-size: 30px;
  margin-left: 50px;
  height: 3rem;
  margin-top: 40px;
  font-size: 1.5rem;
  margin-left: 50px;
  background: #cccccc;
  opacity: 0.8;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 30px;
}

.table {
  margin-top: 30px;
  font-size: 30px;
  color: #41413f;
  background: rgba(250, 245, 245, 0.548);
  margin-left: 200px;
  border: white solid 2px;
  margin-right: 100px;
  border-radius: 30px;
}

.do-list {
  padding-left: 50px;
  text-align: center;
}
.delete {
  font-weight: bold;
  margin-left: 70px;
  border-radius: 10px;
}

.complete {
  color: rgb(65, 65, 63);
  font-weight: bold;
  border-radius: 10px;
}
.edit {
  color: rgb(65, 65, 63);
  font-weight: bold;
  border-radius: 10px;
}

.complete-do {
  color: rgb(110, 110, 110);
  text-decoration: line-through;
}
.check {
  margin-top: 23px;
  transform: scale(2.4);
  opacity: 0.9;
  cursor: pointer;
}
.do-list-input {
  margin-left: 40px;
  text-align: center;
  font-size: 1.5rem;
  margin-left: 50px;
  background: #faf5f5;
  opacity: 0.8;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 30px;
}
